#home body {
    background: #ddd;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    text-align: center;
}

#home canvas {
    margin: auto;
    margin-top:5px;
}

#home input#type, #home input#lobby {
	text-align: center;
	margin: auto;
	width: 800px;
	margin-top: 5px;
    margin-bottom: 5px;
}

#home #invite-friends {
    width: 100px;
}

#home input#lobby {
    width: 500px;
}

#home div#start, #home div#invite, #home div#welcome, #home div#logo {
    text-align: center;
    margin: auto;
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#home div#invite {
    margin-left: 480px;
}

#home div#welcome {
    font-size: 200%;
    text-shadow: 2px 2px 2px red;
    font-weight: bold;
}

html#welcome {
    height: 100%;
}

#welcome .ti-header {
    line-height: 150px;
    font-weight: bold;
    color: #eee;
    font-size: 4.2em;
    text-shadow: 4px 4px 2px red;
    text-align: center;
}

#welcome .ti-content {
    margin-top: 40px;
}

#welcome .red_gradient {
  background-image:
    linear-gradient(
      to top right, 
      #ff3333, #f06d06
    );
}

#welcome .ti-blurb {
    padding: 20px;
    font-weight: 900;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 200%;
    color: #333;
}

#welcome .ti-mode-container {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#welcome .ti-mode-name {
    padding-top: 20px;
    font-size: 150%;
    font-weight: bold;
}

#welcome .ti-mode-desc {
    text-align:left;
    padding: 30px;
    height: 150px;
}

#welcome .ti-mode-play {
    width: 162px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

#welcome .ti-spacer {
    margin-top: 20px;
    height: 100%; 
    width: 100%;
    display: block;
}

#welcome .ti-action {
    font-weight: 900;
    /*text-shadow: 1px 1px 1px #333;*/
    text-shadow: 0 -1px 0 #888;
}

#welcome .ti-details {
    font-weight: 300;
    font-size: 80%;
    text-shadow: 0 -1px 0 #888;
}

#welcome .transparent {
    background-color: transparent;
}

#welcome .center {
    text-align:center;
}

#welcome .grey_gradient {
  background-image:
    linear-gradient(
      to top right, 
      #ddd, #fff
    );
}